@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center bg-dark text-light py-5">
    <h1 class="display-4 mt-4">Welcome to Sustatron🌿</h1>
    <p class="lead">Promoting Sustainable Transportation for a Greener Future</p>
    <a class="btn btn-primary btn-lg" href="#features" role="button">Explore Features</a>
</div>

<section id="features" class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-lg bg-light text-dark">
                <div class="card-body">
                    <h2 class="card-title">Student Management</h2>
                    <p class="card-text">Effortlessly add and manage users, and see there achievments and more</p>
                    <a class="btn btn-primary btn-lg align-content-center" href="/Users" role="button">Register User</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg bg-light text-dark">
                <div class="card-body">
                    <h2 class="card-title">Vehicle Management</h2>
                    <p class="card-text">Add vehicles and let our advanced algorithm calculate max emissions for you.</p>
                    <a class="btn btn-primary btn-lg align-content-center" href="/Vehicles" role="button">Register Vehicle</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg bg-light text-dark">
                <div class="card-body">
                    <h2 class="card-title">Commute Management</h2>
                    <p class="card-text">Record your commutes and get rewarded for choosing eco-friendly transportation options.</p>
                    <a class="btn btn-primary btn-lg align-content-center" href="/Commute" role="button">View Commutes</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="documentation" class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="display-4 text-center">Documentation 📝</h2>
            <p class="lead text-center">Explore our comprehensive documentation to make the most of Sustatron.</p>
            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="https://github.com/nahnova/Sustatron" role="button">Explore Documentation</a>
            </div>
        </div>
    </div>
</section>

<!-- Add more sections and content as needed -->
